* {
    font-family: 'Exo','Times New Roman', sans-serif;
    display: border-box;
    box-sizing: border-box;
}

header{
    background-color: #454545;
}

footer{
    position: static;
    color: white;
    background-color: #454545;
    height: 5rem;
    width: 100%;
    flex-wrap: wrap;
}

.icon{

}

nav ul{
    margin: 0;
    padding: 10px;
    list-style: none;
}


nav li {
    display: inline-block;
    margin-left: 0px;
    padding: 1px;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 0.3rem;
}

nav a:hover{
    background-color: #383838;
    color: white;
    transition-duration: 0.2s;
}

nav a:active{
    color: black;
    background-color: rgb(233, 233, 233);
}

body{
    background-color: green;
}

.center{
    display: grid;
    place-items: center;
}

.webCard{
    border: 2px solid black;
    border-radius: 0.5rem;
    background-color: red;
    padding: 50px;
    width: 100%;
}

.webCard .card-header{
    font-weight: bold;
}

.webCard .card-body{
    color: blue;
}

.webCard .card-footer{
    color: #666666;
}